<template>
  <section class="competencies container-fluid bg-white">
    <div class="competencies_content container container--down-md-align-right">
      <div class="competencies__title">
        <h4 class="h4">НАШИ Компетенции</h4>
      </div>
      <div class="competencies__body">
        <div class="competencies-item" v-for="(competency, i) in competencies" :key="i">
          <div class="competencies-item__title">
            <h3 class="h3">{{competency.title}}</h3>
          </div>
          <CompetenciesList :list="competency.list"></CompetenciesList>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import CompetenciesList from '~/components/sections/CompetenciesList';

export default {
  name: 'Competencies',
  components: { CompetenciesList },
  data: () => ({
    competencies: [
      {
        title: 'Брендинг',
        list: [
          'Аналитика и исследования',
          'Платформа бренда',
          'Брендбук и гайдлайн',
          'Название и слоган',
          'Дизайн упаковки',
          'Рекламные материалы'
        ]
      },
      {
        title: 'Диджитал',
        list: [
          'Аудит и консалтинг',
          'Дизайн интерфейсов',
          'Веб-дизайн',
          'Промо-сайты',
          'Техническая поддержка'
        ]
      },
      {
        title: 'Графика',
        list: [
          'Фото и видео-съемка',
          'Ретушь',
          '3D-графика',
          'Иллюстрации',
          'Интерьерные решения',
          'Навигация'
        ]
      },
    ]
  })
};
</script>

<style lang="scss">
.competencies {
  &_content {
    padding: 8rem 0 ;

    @include media-breakpoint-down(lg){
      padding: 5rem 0;
    }

    @include media-breakpoint-down(md) {
      padding: 6rem 0 3rem 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 4rem 0;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.competencies-item {
  flex: 0 0 percentage(2 / 8);

  @include media-breakpoint-down(md) {
    flex: 0 0 percentage(3 / 9);
    letter-spacing: -0.03em;
  }

  @include media-breakpoint-down(xs) {
    flex: 0 0 percentage(9 / 9);
  }

  &__title {
    .h3 {
      margin-top: 0.8rem;
      margin-bottom: 0.7rem;
    }
  }

  &:not(:first-child) {
    @include media-breakpoint-down(xs) {
      padding-top: 2.2rem;
    }
  }

}
</style>
