<template>
  <section class="team container-fluid screen bg-white">
    <div class="row">
      <div class="team__content container container--down-md-align-right">
        <div class="team__row">
          <div class="team__column" v-show="!small">
            <div class="team__header">
              <div class="team__title">
                <h3 class="h3">Команда</h3>
              </div>
              <div class="team__description">
                Мы команда профессионалов, достаточно молодых что бы мыслить
                креативно, и достаточно опытных что бы решать сложные задачи.
              </div>
            </div>
            <CardWorker
              class="card-worker"
              v-for="(worker, i) in workers"
              :key="i"
              :worker="worker"
              v-if="i % 2 === 0 && workers.length - 1 !== i"
            ></CardWorker>
            <CardVacancy class="card-vacancy"></CardVacancy>
          </div>
          <div class="team__column" v-show="!small">
            <CardWorker
              class="card-worker"
              v-for="(worker, i) in workers"
              :key="i"
              :worker="worker"
              v-if="!(i % 2 === 0) || workers.length - 1 === i"
            ></CardWorker>
          </div>
          <client-only>
            <div class="team__header" v-if="small">
              <div class="team__title">
                <h3 class="h3">Команда</h3>
              </div>
              <div class="team__description">
                Мы команда профессионалов, достаточно молодых что бы мыслить
                креативно, и достаточно опытных что бы решать сложные задачи.
              </div>
            </div>
            <div v-if="small" v-swiper:teamSwiper="teamSwiperOption">
              <div class="swiper-wrapper slider__wrap">
                <CardWorker
                  class="card-worker swiper-slide"
                  v-for="(worker, i) in workers"
                  :key="i"
                  :worker="worker"
                ></CardWorker>
              </div>
            </div>
            <div class="team__swipe swipe-left" v-show="small">
              <div class="swipe-left__label">
                <img src="/images/swipe-left.svg" alt />
              </div>
              крути влево
            </div>
            <CardVacancy class="card-vacancy" v-show="small"></CardVacancy>
          </client-only>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import CardWorker from "~/components/sections/CardWorker";
import CardVacancy from "~/components/sections/CardVacancy";

export default {
  name: "AboutTeam",
  props: {
    small: {
      type: Boolean,
      required: true
    }
  },
  components: { CardWorker, CardVacancy },
  data: () => ({
    teamSwiperOption: {
      autoHeight: true,
      spaceBetween: 10,
      slidesPerView: "auto",
      grabCursor: true
    },
    workers: [
      {
        name: 'Артем Василевский',
        position: 'гендиректор',
        photo: '/images/vasilevsky.png'
      },
      {
        name: 'Алексей Данилов',
        position: 'арт-директор',
        photo: '/images/danilov.png'
      },
      {
        name: 'Андрей Скляр',
        position: 'дизайнер',
        photo: '/images/sklar.png'
      },
      {
        name: 'Яна Антонова',
        position: 'проект-менеджер',
        photo: '/images/antonova.png'
      },
      {
        name: 'Манук Аджемян',
        position: 'разработчик',
        photo: '/images/adjemyan.png'
      },
      {
        name: 'Денис Самойлов',
        position: 'дизайнер / ретушер',
        photo: '/images/samoilov.png'
      },
      {
        name: 'Слава Богомолов',
        position: 'UX дизайнер',
        photo: '/images/bogomolov.png'
      },
      {
        name: 'Эля Акатьева',
        position: 'иллюстратор / типограф',
        photo: '/images/akateva.png'
      },
      {
        name: 'Даниил Лисин',
        position: 'дизайнер',
        photo: '/images/lisin.png'
      },
      {
        name: 'Катя Ларионова',
        position: 'копирайтер',
        photo: '/images/larionova.png'
      },
      {
        name: 'Марина Иванова',
        position: 'фотограф',
        photo: '/images/ivanova.png'
      }
    ]
  })
};
</script>

<style lang="scss">
.team {

  &__content {
    overflow: hidden;
    padding-top: 3.625rem;
    padding-bottom: 3.9rem;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
  }

  &__column {
    flex: 0 0 percentage(3.5 / 8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__header {
    margin-top: -1.875rem;
    margin-bottom: 8.125rem;
    width: 100%;

    @include media-breakpoint-only(lg) {
      margin-bottom: 6.25rem;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 4.68rem;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 1.5rem;
      padding-right: 12.3%;
      font-size: 0.92em;
      line-height: 1.68;
    }
  }

  &__swipe {
    margin-bottom: 5.9rem;
  }
}

.card-worker {
  margin-bottom: 9.2rem;
  width: 100%;

  @include media-breakpoint-down(xl) {
    margin-bottom: 6.25rem;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 5.85rem;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 0;
    width: percentage(4 / 5);
  }
}

.card-vacancy {
  width: 100%;
  min-width: 210px;

  @include media-breakpoint-down(xs) {
    margin-bottom: 0;
  }
}

.swipe-left {
  display: flex;
  align-items: flex-end;
  padding: 1.4rem 0;
  font-size: 0.86em;
  font-weight: bold;
  color: $color-light-auxiliary;
  &__label {
    width: 24px;
    height: 24px;
    margin-right: 0.7rem;
  }
}
</style>
