<template>
  <div class="worker bg-light">
    <div class="worker__header">
      <span class="worker__name">{{worker.name}}</span>
      <br />
      <span class="worker__position">{{worker.position}}</span>
    </div>
    <div class="worker__photo">
      <img class="img--centered img--responsive" :src="worker.photo" :alt="worker.name" />
    </div>
  </div>
</template>
<script>
export default {
  name: 'CardWorker',
  props: {
    worker: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss">
.worker {
  @include media-breakpoint-down(xs) {
    min-height: 350px;
    min-width: 210px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__header {
    padding: 3.125rem 0 1.6rem 3.125rem;

    @include media-breakpoint-down(md) {
      padding: 1.25rem 0 1.6rem 1.25rem;
    }

    @include media-breakpoint-down(xs) {
      padding: 1.5rem 0 0 1.5rem;
      line-height: 1.43;
    }
  }

  &__name {
    @include media-breakpoint-down(xs) {
      font-size: 1em;
      letter-spacing: normal;
    }
  }

  &__photo {
    position: relative;
    width: 100%;
    padding-bottom: percentage(580 / 550);
  }
}
</style>
