<template>
  <ul class="competencies-list">
    <li class="competencies-list__item" v-for="(item, i) in list" :key="i">{{item}}</li>
  </ul>
</template>

<script>
export default {
  name: 'CompetenciesList',
  props: {
    list: Array,
    required: true
  }
};
</script>

<style lang="scss">
.competencies-list {
  padding: 0;
  margin: 0;

  &__item {
    line-height: 3;
    margin: 0;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }
    
    &:before {
      display: none;
    }
  }
}
</style>