<template>
  <component
    :is="tagIs"
    class="base-btn"
    :class="{ 'base-btn_disabled': disabled }"
    :href="href"
    :disabled="disabled"
    v-bind="$attrs"
    @click="onCLick"
  >
    <span class="base-btn__title"><slot></slot></span>
  </component>
</template>

<script>
export default {
  name: 'BaseBtn',
  props: {
    href: {
      type: String,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    tagIs() {
      return !!this.href ? 'a' : 'button'
    },
  },
  methods: {
    onCLick(e) {
      this.$emit('click', e);
    },
  },
};
</script>

<style lang="scss">
.base-btn {
  $this: &;
  $line-width: 20px;
  $line-plus-size: 10px;
  $line-left-gap: 10px;

  color: $color-auxiliary;
  font-weight: 700;
  font-size: em(12);

  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
  cursor: pointer;

  position: relative;
  transition: color 0.4s;
  transform-origin: top right;

  overflow: hidden;
  padding-right: $line-width + $line-plus-size + $line-left-gap;

  @include sm-min {
    font-size: 1em;
  }

  &:hover {
    color: $color-dark;

    #{$this}__title {
      &::before {
        width: $line-width + $line-plus-size;
      }
    }
  }

  &__title {
    display: inline-block;
    position: relative;
    transition: opacity 0.75s, transform 0.75s $easeInOutCubic;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: calc(100% + 10px);
      transform: translate(0, -50%);

      height: 1px;
      width: $line-width;

      background-color: currentColor;
      transition: width 0.4s;
    }
  }

  &_disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &_leave {
    #{$this}__title {
      opacity: 0;
      transform: translateX(calc(100% + #{$line-width + $line-left-gap}));
    }
  }
}
</style>
