<template>
  <section class="dark-section dark-theme">
    <slot/>
  </section>
</template>

<script>
import ScrollStatus from '~/scripts/ScrollStatus';

const instanceList = [];

export default {
  name: 'DarkSection',
  data: () => ({
    scrollProgress: 0
  }),
  created() {
    instanceList.push(this);
  },
  mounted() {
    this.scrollStatus = new ScrollStatus(this.$el);
    this.scrollProgress = this.scrollStatus.progress;
    this.defineContrast();
    window.addEventListener('scroll', this.defineContrast);
  },
  destroyed () {
    window.removeEventListener('scroll', this.defineContrast);
    let index = instanceList.indexOf(this);
    if (index > -1) {
      instanceList.splice(index, 1);
    }
    this.$store.dispatch('side/setContrast', false);
    instanceList.forEach(instance => instance.defineContrast());
  },
  methods: {
    defineContrast() {
      if (this.scrollStatus.isView || this.scrollProgress !== this.scrollStatus.progress) {
        this.scrollProgress = this.scrollStatus.progress;
        this.$store.dispatch('side/defineContrastWithScroll', this.scrollStatus);
      }
    }
  },

}
</script>
