<template>
  <DarkSection class="first-screen container-fluid">
    <div class="first-screen__row row align-items-end align-items-lg-center">
      <div class="first-screen__content offset-2 col-8 offset-sm-3 col-sm-6 offset-lg-6 col-lg-4 col-xxl-3">
        <p class="first-screen__decription">Мы занимаемся брендингом и диджитал проектами с 2016 года, любим смелые и нестандартные решения основанные на понимании задач бизнеса.</p>
        <h1 class="first-screen__title">Branding<br/>& digital<br/>agency</h1>
      </div>
    </div>
  </DarkSection>
</template>

<script>
import DarkSection from './DarkSection'

export default {
  name: 'FirstScreen',
  components: { DarkSection }
}
</script>

<style lang="scss">
  .first-screen
  {
    position: relative;
    width: 100%;
    height: 100vh;
    background: $color-dark url("/images/first-screen.jpg") center;
    background-size: cover;

    &__row {
      height: calc(100vh - 5rem);
    }

    &__content {

      @include media-breakpoint-only(md) {
        margin-bottom: 4rem;
      }

      @include media-breakpoint-up(lg) {
        margin-top: -6rem;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 1rem;
      }
    }

    &__decription {
      max-width: 30rem;
    }
  }
</style>
