<template>
  <footer class="footer container container--down-md-align-right">
    <div class="footer__copyright"> © 2019 TODO agency. Все права защищены </div>
    <div class="footer__policy"><a href="#" class="footer__link">Политика конфиденциальности</a></div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style lang="scss">
.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  line-height: 1.143;
  padding: 3.125rem 0;

  @include media-breakpoint-down(md) {
       font-size: 0.857em;
       line-height: 1.25;
    }

  &__copyright {
    width: percentage(4 / 8);

    @include media-breakpoint-down(md) {
       width: percentage(5 / 9);
    }

    @include media-breakpoint-down(xs) {
       width: percentage(5 / 9);
    }
  }

  &__policy {
    width: percentage(4 / 8);

    @include media-breakpoint-down(md) {
       width: percentage(4 / 9);
    }

    @include media-breakpoint-down(xs) {
       width: 100%;
       margin-top: 0.715rem;
    }
  }

  &__link {
    font-style: normal;
    font-weight: normal;
  }
}
</style>
