<template>
  <ul class="social">
    <li class="social__item" v-for="(item, i) in list" :key="i">
      <a :href="item.href || '#'" class="social__link social-link" v-html="item.title">{{ item.title }}</a>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Social',
  props: {
    list: {
      type: Array,
      default: () => [
        { title: 'Behance', href: '#' },
        { title: 'Instagram', href: '#' },
        { title: 'Facebook', href: '#' },
      ],
    },
  },
};
</script>

<style lang="scss">
.social {
  $this: &;

  padding: 0;
  margin: 0;
  line-height: 2;

  @include sm-min {
    display: flex;
    line-height: 1.2;
  }

  &__item {
    margin: 0;

    &::before {
      display: none;
    }

    &:not(:last-child) {
      @include sm-min {
        margin-right: em(50);
      }
    }
  }

  &_side {
    align-items: center;
    display: flex;

    padding-left: em(15);
    padding-right: em(15);

    @include sm-min {
      padding-left: em(20 + 5);
      padding-right: em(20 + 5);
    }

    @include lg-min {
      padding-left: em(25 + 7);
      padding-right: em(25 + 7);
    }

    @include xxl-min {
      padding-left: em(33, 16);
      padding-right: em(33, 16);
    }

    #{$this}__link {
      color: $color-auxiliary;
      * {
        color: $color-auxiliary;
      }
    }

    #{$this}__item {
      margin-left: em(20);
      margin-right: em(20);

      @include lg-min {
        margin-left: em(25);
        margin-right: em(25);
      }

      @include xxl-min {
        margin-left: em(60, 16);
        margin-right: em(60, 16);
      }
    }
  }
}
</style>
