@function em($size, $base: 14) {
  @return ($size / $base) * 1em; 
}
@function rem($size, $base: 14) {
  @return ($size / $base) * 1rem; 
}

// breakpoints min-width
@mixin sm-min {
  @include media-breakpoint-up(sm) {
    @content;
  }
}

@mixin md-min {
  @include media-breakpoint-up(md) {
    @content;
  }
}

@mixin lg-min {
  @include media-breakpoint-up(lg) {
    @content;
  }
}

@mixin xl-min {
  @include media-breakpoint-up(xl) {
    @content;
  }
}

@mixin xxl-min {
  @include media-breakpoint-up(xxl) {
    @content;
  }
}

// breakpoints max-width
@mixin sm-max {
  @include media-breakpoint-down(xs) {
    @content;
  }
}

@mixin md-max {
  @include media-breakpoint-down(sm) {
    @content;
  }
}

@mixin lg-max {
  @include media-breakpoint-down(md) {
    @content;
  }
}

@mixin xl-max {
  @include media-breakpoint-down(lg) {
    @content;
  }
}

@mixin xxl-max {
  @include media-breakpoint-down(xl) {
    @content;
  }
}

@mixin hidden {
  visibility: hidden;
  opacity: 0;
}
@mixin visible {
  visibility: visible;
  opacity: 1;
}

// add hover only on non touch screen devices
@mixin hover {
  .no-touch &:hover {
    @content;
  }
}

//icon close
@mixin icon-close($size, $line-width, $color) {
  position: relative;
  display: inline-block;
  width: $size + px;
  height: $size + px;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: $line-width + px;
    height: 100%;
    background-color: $color;
    top: 0;
    left: 50%;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
// example
// +icon-close(15, 2, #000)
