@import "core";
@import "~bootstrap/scss/bootstrap-grid";
@import "keyframes";

html {
  font-family: 'Montserrat', sans-serif;
  color: $color-auxiliary;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  word-spacing: 0.06em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  @include media-breakpoint-up(md) {
    line-height: 2;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  width: percentage(8 / $grid-columns);
}

@include media-breakpoint-down(md) {
  .container--down-md-align-right {
    width: percentage(9 / $grid-columns);
    margin-left: percentage(3 / $grid-columns);
  }
}

@include media-breakpoint-down(xs) {
  .container--down-md-align-right {
    width: percentage(10 / $grid-columns);
    margin-left: percentage(2 / $grid-columns);
  }
}

.screen {
  position: relative;
  min-height: 100vh;
}

.bg-white {
  background: $color-white
}
.bg-light {
  background: $color-light
}
.bg-light-auxiliary {
  background: $color-light-auxiliary
}
.bg-auxiliary {
  background: $color-auxiliary
}
.bg-dark {
  background: $color-dark
}

.color-white {
  color: $color-white
}
.color-light {
  color: $color-light
}
.color-dark {
  color: $color-dark;
}
.color-light-auxiliary {
  color: $color-light-auxiliary
}
.color-auxiliary {
  color: $color-auxiliary
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5,
p, ul, ol
{
  font-size: 1rem;
  margin: 1.2rem 0;
  @include media-breakpoint-up(md) {
    margin: 1.875rem 0;
  }
}

 h1,  h2,  h3,  h4,  h5,  h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  color: $color-dark;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 3.6em; // ~50px
  font-weight: 800;
  letter-spacing: -0.03em;

  @include media-breakpoint-down(sm) {
    font-size: 2.15em; // ~30px
  }

  @include media-breakpoint-up(md) {
    line-height: 1;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 5.625em; // ~90px
  }
}

h2, .h2 {
  font-size: 2.145em; // ~30px

  @include media-breakpoint-down(sm) {
    font-size: 1.45em; // ~20px
  }

  @include media-breakpoint-up(xxl) {
    font-size: 3.125em; // ~50px
  }
}

h3, .h3 {
  font-size: 1.58em; // ~22px

  @include media-breakpoint-down(sm) {
    font-size: 1.143em; // ~16px
  }

  @include media-breakpoint-up(xxl) {
    font-size: 2.125em; // ~34px
  }
}

h4, .h4 {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
}

h5, .h5 {
  font-size: 0.875em;
  color: $color-auxiliary;
  letter-spacing: 0.06em;
}
h6, .h6 {
  font-size: 0.75em;
  color: $color-auxiliary;
  letter-spacing: 0.06em;
}

a {
  color: $color-auxiliary;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

small, .small {
  font-size: 0.8em;
  line-height: 1.86;
}

big, .big {
  font-size: 1.4em;
  line-height: 1.6;
}

ul {
  list-style: none;
  padding: 0 0 0 2em;

  li {
    position: relative;
    margin: 0.6rem 0;

    &:before {
      content: '';
      display: inline-block;

      position: absolute;
      top: 1em;
      left: -1.9em;

      width: 1em;
      height: 0.06em;

      background: $color-auxiliary
    }
  }
}

.social-link {
  font-weight: 700;
  color: $color-dark;

  @include xxl-min {
    font-size: em(14, 16);
  }

  &__title {
    @include sm-max {
      display: none;
    }
  }

  &__title-sm {
    @include sm-min {
      display: none;
    }
  }
}

.nav-item {
  font-size: 0.875em;
}

.menu-item {
  color: $color-dark;
  font-weight: 800;
  font-size: 2.6rem; // ~36px
  line-height: 1.67;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 1.7em; // ~24px
  }

  @include media-breakpoint-up(xxl) {
    font-size: 3.125em; // ~50px
  }
}

.menu-sub-item
{
  color: $color-dark;
  font-weight: 800;
  font-size: 1.43em; // ~20px
  line-height: 3;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 1.14em; // ~16px
  }

  @include media-breakpoint-up(xxl) {
    font-size: 1.5em; // ~24px
  }
}

.worker {
  text-transform: uppercase;
  line-height: 1.2;

  &__name {
    font-weight: bold;
    font-size: 1.25em;
    color: $color-dark;
    letter-spacing: -0.05em;
  }

  &__position {
    font-size: 0.8em;
  }
}

.close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: color .3s;  

  @include icon-close(20, 1, currentColor);
  @include hover {
    color: $color-auxiliary;
  }
}

input,
textarea
{
  font-size: 1em;

  display: block;

  width: 100%;

  padding: 0 0 0.5em;
  margin-top: 2.5em;

  color: $color-light-auxiliary;
  font-weight: 400;
  letter-spacing: 0.05em;

  box-shadow: none;
  text-shadow: none;
  background: none;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;

  transform: translate(0);

  &:focus
  {
      outline: none;
  }
}

.dark-theme,
.dark-theme *
{
  color: $color-white;
}

// Easings
.easeSmooth     { transition-timing-function: $easeSmooth !important;     animation-timing-function: $easeSmooth !important;     }
.easeCustom     { transition-timing-function: $easeCustom !important;     animation-timing-function: $easeCustom !important;     }
.snap           { transition-timing-function: $snap !important;           animation-timing-function: $snap !important;           }
.easeOutCubic   { transition-timing-function: $easeOutCubic !important;   animation-timing-function: $easeOutCubic !important;   }
.easeInOutCubic { transition-timing-function: $easeInOutCubic !important; animation-timing-function: $easeInOutCubic !important; }
.easeInCirc     { transition-timing-function: $easeInCirc !important;     animation-timing-function: $easeInCirc !important;     }
.easeOutCirc    { transition-timing-function: $easeOutCirc !important;    animation-timing-function: $easeOutCirc !important;    }
.easeInOutCirc  { transition-timing-function: $easeInOutCirc !important;  animation-timing-function: $easeInOutCirc !important;  }
.easeInExpo     { transition-timing-function: $easeInExpo !important;     animation-timing-function: $easeInExpo !important;     }
.easeOutExpo    { transition-timing-function: $easeOutExpo !important;    animation-timing-function: $easeOutExpo !important;    }
.easeInOutExpo  { transition-timing-function: $easeInOutExpo !important;  animation-timing-function: $easeInOutExpo !important;  }
.easeInQuad     { transition-timing-function: $easeInQuad !important;     animation-timing-function: $easeInQuad !important;     }
.easeOutQuad    { transition-timing-function: $easeOutQuad !important;    animation-timing-function: $easeOutQuad !important;    }
.easeInOutQuad  { transition-timing-function: $easeInOutQuad !important;  animation-timing-function: $easeInOutQuad !important;  }
.easeInQuart    { transition-timing-function: $easeInQuart !important;    animation-timing-function: $easeInQuart !important;    }
.easeOutQuart   { transition-timing-function: $easeOutQuart !important;   animation-timing-function: $easeOutQuart !important;   }
.easeInOutQuart { transition-timing-function: $easeInOutQuart !important; animation-timing-function: $easeInOutQuart !important; }
.easeInQuint    { transition-timing-function: $easeInQuint !important;    animation-timing-function: $easeInQuint !important;    }
.easeOutQuint   { transition-timing-function: $easeOutQuint !important;   animation-timing-function: $easeOutQuint !important;   }
.easeInOutQuint { transition-timing-function: $easeInOutQuint !important; animation-timing-function: $easeInOutQuint !important; }
.easeInSine     { transition-timing-function: $easeInSine !important;     animation-timing-function: $easeInSine !important;     }
.easeOutSine    { transition-timing-function: $easeOutSine !important;    animation-timing-function: $easeOutSine !important;    }
.easeInOutSine  { transition-timing-function: $easeInOutSine !important;  animation-timing-function: $easeInOutSine !important;  }
.easeInBack     { transition-timing-function: $easeInBack !important;     animation-timing-function: $easeInBack !important;     }
.easeOutBack    { transition-timing-function: $easeOutBack !important;    animation-timing-function: $easeOutBack !important;    }
.easeInOutBack  { transition-timing-function: $easeInOutBack !important;  animation-timing-function: $easeInOutBack !important;  }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}



