<template>
  <transition name="fadeDown" :css="false" @leave="onLeave">
    <a href="#" class="lang">en</a>
  </transition>
</template>

<script>
import anime from 'animejs';

export default {
  methods: {
    onLeave(el, done) {
      const tl = anime.timeline({ easing: 'easeOutQuad' });
      tl.add({
        targets: el,
        opacity: [1, 0],
        translateY: [0, 30],
        duration: 500,
      });
      tl.finished.then(done)
    },
  },
  mounted() {
    anime({
      targets: this.$el,
      opacity: [0, 1],
      translateY: [30, 0],
      duration: 500,
      easing: 'easeOutQuad',
    });
  },
};
</script>

<style lang="scss">
.lang {
  display: inline-block;
  position: relative;
  top: -2em;
}
</style>
