<template>
  <nuxt-link to="/" class="logo">
    <svg class="logo__svg d-none d-md-block" viewBox="0 0 70 16" xmlns="http://www.w3.org/2000/svg">
      <path class="logo__path" fill-rule="evenodd" clip-rule="evenodd" d="M4.79523 15.7123H8.25931V3.39739H13.0517V0.264292H0.00195312V3.39739H4.79523V15.7123ZM21.5071 15.977C26.3669 15.977 29.8989 12.3799 29.8989 7.98762C29.8989 3.55167 26.4125 -0.00171661 21.5523 -0.00171661C16.6921 -0.00171661 13.1603 3.59618 13.1603 7.98762C13.1603 12.424 16.6472 15.977 21.5071 15.977V15.977ZM21.5523 12.8429C18.7618 12.8429 16.7826 10.6364 16.7826 7.98742C16.7826 5.2952 18.7178 3.13244 21.5071 3.13244C24.2965 3.13244 26.2782 5.33972 26.2782 7.98742C26.2782 10.6808 24.3431 12.8431 21.5523 12.8431V12.8429ZM31.9448 15.7365H38.0876C43.0366 15.7365 46.4577 12.3596 46.4577 8.01231C46.4577 3.62054 43.0371 0.288127 38.0876 0.288127H31.9448V15.7365ZM35.4093 12.6689V3.35585H38.0876C40.9224 3.35585 42.8356 5.27604 42.8356 8.01204C42.8356 10.7929 40.9224 12.6686 38.0876 12.6686H35.4093V12.6689ZM56.6614 16.0012C61.5227 16.0012 65.0532 12.4041 65.0532 8.01231C65.0532 3.57636 61.5674 0.023304 56.7066 0.023304C51.8467 0.023304 48.3146 3.6208 48.3146 8.01231C48.3146 12.4485 51.8015 16.001 56.6617 16.001L56.6614 16.0012ZM56.7066 12.8681C53.9161 12.8681 51.9369 10.6605 51.9369 8.01231C51.9369 5.32003 53.872 3.15733 56.6614 3.15733C59.4507 3.15733 61.4325 5.3646 61.4325 8.01231C61.4325 10.7043 59.4974 12.8679 56.7066 12.8679V12.8681Z"/>
      <circle class="logo__dot" r="1.8" cx="68.16" cy="13.5"/>
    </svg>
    <svg class="logo__svg d-md-none" viewBox="0 0 41 33" xmlns="http://www.w3.org/2000/svg">
      <path class="logo__path" fill-rule="evenodd" clip-rule="evenodd" d="M24.0339 32.7558C19.4062 32.7558 16.0855 29.3703 16.0855 25.1426C16.0855 20.9576 19.4491 17.529 24.0772 17.529C28.706 17.529 32.0255 20.9148 32.0255 25.1426C32.0255 29.328 28.6631 32.7558 24.0339 32.7558ZM24.0339 20.5158C21.3776 20.5158 19.5348 22.5768 19.5348 25.1426C19.5348 27.666 21.4197 29.7701 24.0772 29.7701C26.7346 29.7701 28.5774 27.7083 28.5774 25.1426C28.5774 22.6192 26.6906 20.5158 24.0339 20.5158ZM24.0339 15.231C19.4062 15.231 16.0855 11.8451 16.0855 7.61696C16.0855 3.43196 19.4491 0.00333023 24.0772 0.00333023C28.7053 0.00333023 32.0255 3.38958 32.0255 7.61696C32.0255 11.8031 28.662 15.231 24.0339 15.231ZM24.0339 2.99021C21.3776 2.99021 19.5348 5.05121 19.5348 7.61696C19.5348 10.1415 21.4197 12.2445 24.0772 12.2445C26.7346 12.2445 28.5774 10.1835 28.5774 7.61696C28.5774 5.09396 26.6906 2.99021 24.0339 2.99021ZM5.84495 32.5035H-0.00488281V17.7813H5.84495C10.5581 17.7813 13.8155 20.9576 13.8155 25.1426C13.8155 29.2856 10.5581 32.5035 5.84495 32.5035ZM5.84495 20.7052H3.2943V29.5803H5.84495C8.54418 29.5803 10.3662 27.7927 10.3662 25.1426C10.3662 22.5352 8.54418 20.7052 5.84495 20.7052ZM8.15825 14.9786H4.85945V3.24258H0.294906V0.25683H12.722V3.24258H8.15825V14.9786Z"/>
      <circle class="logo__dot" r="2.5" cx="38" cy="30" />
    </svg>
  </nuxt-link>
</template>

<script>
  export default {
    name: 'Logo',
    props: [ 'side', 'pos', 'contrast' ],
  }
</script>

<style lang="scss">
  .logo {
    display: inline-flex;
    white-space: nowrap;
    align-items: flex-end;
    color: inherit;
    text-decoration: none;

    &__svg {
      width: 1.8em;
      height: 1.8em;
      flex: 0 0 1.8em;
      fill: $color-dark;

      @include media-breakpoint-up(md) {
        width: 5em;
        height: 1.2em;
        flex: 0 0 5em;
      }

      .dark-theme & {
        fill: $color-white;
      }
    }

    &__dot {
      fill: $color-auxiliary;

      .dark-theme & {
        fill: $color-white;
      }
    }
  }
</style>
