<template>
  <div class="side-mail">
    <a class="side-mail__link" href="mailto:hello@todoagency.ru">hello@todoagency.ru</a>
  </div>
</template>

<script>
  export default {
    name: 'Mail',
    props: [ 'side', 'pos', 'contrast' ],
  }
</script>

<style lang="scss">
  .side-mail {
    display: inline-block;
  }

</style>
