<template>
  <transition name="order-social">
    <div class="order-social">
      <transition name="order-social__social" duration="1000">
        <Social
          class="social_side order-social__social"
          v-show="this.pageInTop"
          :list="socialList"
        />
      </transition>

      <OrderBtn class="order-social__order" :class="{ 'order-btn_short': !this.pageInTop }" />
    </div>
  </transition>
</template>

<script>
import { mapState } from 'vuex';
import anime from 'animejs';
import Social from '~/components/Social';
import OrderBtn from '~/components/OrderBtn';

export default {
  name: 'OrderSocialBtn',
  components: {
    Social,
    OrderBtn,
  },
  data() {
    return {
      pageInTop: null,
      socialList: [
        {
          title:
            '<span class="social-link__title">Behance</span><span class="social-link__title-sm">Be</span>',
        },
        {
          title:
            '<span class="social-link__title">Instagram</span><span class="social-link__title-sm">Ins</span>',
        },
        {
          title:
            '<span class="social-link__title">Facebook</span><span class="social-link__title-sm">Fb</span>',
        },
      ],
    };
  },
  mounted() {
    this.getPageTop();
    window.addEventListener('scroll', this.onScroll);

    this.onEnter();
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll);
  },
  methods: {
    getPageTop() {
      this.pageInTop = window.pageYOffset < 50;
    },
    onScroll() {
      this.getPageTop();
    },
    onEnter() {
      const targets = this.$el;
      if (!targets) return;

      const translateX = targets.classList.contains('side-component_left')
        ? ['-100%', '0%']
        : ['100%', '0%'];

      anime({
        targets,
        translateX,
        duration: 1000,
        easing: 'easeOutExpo',
        complete() {
          targets.style.transform = '';
        },
      });
    },
  },
  computed: {
    ...mapState({
      menuIsOpen: state => state.menu.isOpen,
    }),
  },
};
</script>

<style lang="scss">
.order-social {
  $this: &;

  display: flex;
  overflow: hidden;

  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -2rem;

  @include md-max {
    right: -1rem;
  }

  @include xxl-min {
    right: -3rem;
  }

  &__social {
    background-color: $color-dark;
    position: relative;
    z-index: 1;

    transition: transform 1s $easeOutExpo;

    &-enter,
    &-leave-to {
      transform: translateX(100%);
    }
  }

  &__order {
    position: relative;
    z-index: 2;
  }

  &-enter,
  &-leave-to {
    transform: translateX(100%);
    transition: transform 1s $easeOutExpo;
  }

  &.side-component_top {
    bottom: auto;
    top: -2rem;

    @include md-max {
      top: -1rem;
    }

    @include xxl-min {
      top: -3rem;
    }
  }

  &.side-component_left {
    flex-direction: row-reverse;

    right: auto;
    left: -2rem;

    @include md-max {
      left: -1rem;
    }

    @include xxl-min {
      left: -3rem;
    }

    #{$this}__social {
      &-enter,
      &-leave-to {
        transform: translateX(-100%);
      }
    }

    &#{$this}-enter,
    &#{$this}-leave-to {
      transform: translateX(-100%);
    }
  }
}
</style>