<template>
  <transition name="fade">
    <ul v-if="!!items.length" class="pagination">
      <li
        class="pagination__item"
        v-for="(item, index) in items"
        @click="scrollTo(item.el.offsetTop)"
        :key="index"
        :class="{'active': item.active}"
      >
        <span class="pagination__label">{{ item.name }}</span>
      </li>
    </ul>
  </transition>
</template>

<script>
import anime from 'animejs';
import ScrollStatus from '~/scripts/ScrollStatus';

export default {
  name: 'Pagination',
  data: () => ({
    items: [],
  }),
  mounted () {
    this.items = this.getItems();
    window.addEventListener('scroll', this.scrollHandler);
    this.scrollHandler();
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.scrollHandler);
  },
  methods: {
    getItems() {
      return [...document.querySelectorAll('[data-pagination-item]')].map(item => ({
        el: item,
        name: item.dataset.paginationItem,
        scrollStatus: new ScrollStatus(item),
        active: false
      }));
    },
    scrollTo(offsetTop) {
      if (this.currentAnim) this.currentAnim.pause();
      const scrollElement = window.document.scrollingElement || window.document.body || window.document.documentElement;
      this.currentAnim = anime({
        targets: scrollElement,
        scrollTop: offsetTop,
        duration: 750,
        easing: 'cubicBezier(.5,0,0,1)'
      });
    },
    scrollHandler() {
      let last;
      for(let index in this.items) {
        const item = this.items[index];
        item.active = false;
        if (item.scrollStatus.isView) {
          last = index;
        }
      }
      if (!!last && this.items.hasOwnProperty(last)) {
        this.items[last].active = true;
      }
    }
  }
}
</script>

<style lang="scss">
.pagination
{
  padding: 0;
  margin: 0;
  text-align: right;
  &__item {
    position: relative;

    height: 1.2em;

    margin: 0;
    padding-right: 3em;

    cursor: pointer;
    white-space: nowrap;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;

      top: 1em;
      left: auto;
      right: 0;

      width: 1em;
      height: 1px;

      background: $color-auxiliary;

      transform-origin: 100% 50%;
      transition: transform 0.5s ease;

      .dark-theme & {
        background: $color-white;
      }
    }

    .pagination:hover &.active::before {
      transform: scaleX(1);
    }

    &:hover::before,
    &.active::before,
    .pagination:hover &.active:hover::before
    {
      transform: scaleX(2);
    }


  }

  &__label {
    display: block;

    position: absolute;
    top: calc(50% - 0.5em);
    right: 3.5em;

    font-size: 0.8em;
    font-weight: bold;

    opacity: 0;
    transform: scale(0.5) translateX(1em);

    transform-origin: 100% 50%;
    transition: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  &__item:hover &__label {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
</style>
