<template>
  <div>
    <AboutFirstScreen data-pagination-item="О нас"/>
    <AboutWeDo data-pagination-item="Что мы делаем"/>
    <AboutCustomers data-pagination-item="Отрасли" :small="small"/>
    <AboutCompetencies data-pagination-item="Компетенции"/>
    <AboutTeam data-pagination-item="Команда" :small="small"/>
    <Footer/>
  </div>
</template>

<script>
import AboutFirstScreen from '~/components/sections/AboutFirstScreen';
import AboutWeDo from '~/components/sections/AboutWeDo';
import AboutCustomers from '~/components/sections/AboutCustomers';
import AboutCompetencies from '~/components/sections/AboutCompetencies';
import AboutTeam from '~/components/sections/AboutTeam';
import Footer from '~/components/Footer'

export default {
  name: 'About',
  data: () => ({
    small: false
  }),
  components: { AboutFirstScreen, AboutWeDo, AboutCustomers, AboutCompetencies, AboutTeam, Footer },
  created() {
    if (process.client) {
      window.addEventListener('resize', this.onResize);
      this.onResize();
    }
  },
  mounted() {
    this.$store.dispatch('side/setComponents', {
      leftTop: 'Logo',
      leftCenter: 'Burger',
      leftBottom: 'Scrolling',
      rightTop: 'Mail',
      rightCenter: 'Pagination',
      rightBottom: ''
    });
  },
  destroyed() {
    if (process.client) {
      window.removeEventListener('resize', this.onResize);
    }
  },
  methods: {
    onResize() {
      this.small = window.innerWidth <= 575;
    }
  }
};
</script>
