<template>
  <div class="contacts-page bg-light">
    <div class="container">
      <div class="contacts-page__inner screen">
        <div class="contacts-page__content">
          <div class="contacts-page__address">
            <strong class="color-dark d-block">Волгоград, ул.Рабоче-Крестьянская, 9</strong>
            <Btn class="" href="#">посмотреть на карте</Btn>
          </div>

          <h1 class="contacts-page__title">
            <a href="mailto:hello@todoagency.ru">hello@todoagency.ru</a> <br />
            <a href="tel:+79061719757">+7(906) 171-97-57</a>
          </h1>

          <div class="contacts-page__form-wrap">
            <OrderForm class="contacts-page__form" />

            <Social class="contacts-page__social" />
          </div>
        </div>

        <Footer class="contacts-page__footer" />
      </div>
    </div>
  </div>
</template>

<script>
import Btn from '~/components/Btn';
import Footer from '~/components/Footer';
import OrderForm from '~/components/forms/OrderForm';
import Social from '~/components/Social';

export default {
  name: 'Contacts',
  components: {
    Btn,
    Footer,
    OrderForm,
    Social,
  },
  mounted() {
    this.$store.dispatch('side/setComponents', {
      leftTop: 'Logo',
      leftCenter: 'Burger',
      leftBottom: '',
      rightTop: 'Mail',
      rightCenter: '',
      rightBottom: '',
    });
  },
};
</script>

<style lang="scss">
.contacts-page {
  &__address {
    margin-bottom: em(30);
  }

  &__title {
    margin-top: 0;
    margin-bottom: rem(30);

    a {
      color: inherit;
    }

    @include lg-max {
      font-size: 3em;
    }

    @include md-max {
      font-size: 2.15em;
    }

    @include sm-max {
      font-size: em(16);
    }

    @include sm-min {
      margin-bottom: rem(41);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    padding-top: $footer-height;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  &__form-wrap {
    display: flex;
    flex-direction: column;

    @include xl-min {
      max-width: percentage(6 / 8);
    }
  }

  &__form {
    margin-bottom: em(40);
    order: 1;

    @include sm-min {
      order: 0;
    }
  }

  &__social {
    order: 0;
    margin-bottom: em(100);

    @include sm-min {
      order: 1;
      margin-bottom: 0;
    }
  }
}
</style>
