<template>
  <div class="form-input" :class="classes">
    <label class="form-input__label" :for="_uid">{{ label }}</label>
    <component
      :is="type === 'textarea' ? 'textarea' : 'input'"
      v-bind="$attrs"
      class="form-input__input"
      :class="fieldClass"
      :id="_uid"
      @input="inputHandler"
      @focus="focusHandler"
      @blur="blurHandler"
      :value="value"
    >{{ type === 'textarea' ? value : '' }}</component>
    <transition name="form-input__errors" duration="1000">
        <div class="form-input__errors" v-show="!!errorMessage && showErrors">{{ errorMessage }}</div>
    </transition>
  </div>
</template>
<script>
export default {
  name: 'Input',
  props: {
    type: {
      type: String,
      default: 'input'
    },
    value: {
      type: [String, Number],
      default: ''
    },
    label: {
      type: String,
      default: 'input'
    },
    errorMessage: {
      type: String
    }
  },

  data: () => ({
    isFocus: false,
    showErrors: false,
  }),
  computed: {
    classes() {
      return {
        'form-input_focus': this.isFocus,
        'form-input_has-label': !!this.label,
        'form-input_has-value': !!this.value,
      }
    },
    fieldClass() {
      return {
        'form-input__input_tall': this.type === 'textarea' && this.isFocus
          || this.type === 'textarea' && this.value
      }
    }
  },

  methods: {
    inputHandler(e) {
      this.$emit('input', e.target.value)
    },
    focusHandler(e) {
      this.$emit('focus', e)
      this.isFocus = true;
    },
    blurHandler(e) {
      this.$emit('blur', e)
      this.isFocus = false;
      this.showErrors = true;
    }
  }
}
</script>

<style lang="scss">
.form-input
{
  position: relative;
  color: $color-auxiliary;

  &__label {
    position: absolute;
    top: -0.2em;
    left: 0;
    font-weight: 400;

    transform-origin: left top;
    transition: transform 0.75s ease;
  }

  &__input {
    color: inherit;
    min-height: 0;
    transition: min-height .5s;

    &_tall {
      min-height: 5em;
    }
  }

  &__errors {
    position: absolute;
    left: 0;
    bottom: -1.2em;

    width: 100%;
    height: 1em;
    padding-left: 5rem;

    color: $color-dark;
    font-style: normal;
    font-weight: bold;
    font-size: 0.7em;
    line-height: 1.4;
    text-align: right;

    animation: fadeIn 1s ease;
    transition: opacity 1s ease;

    .show-all-errors & {
      display: block !important;
    }

    &-enter, &-leave-to {
      opacity: 0;
    }
  }

  &_has-label &__input::placeholder {
    opacity: 0;
    transition: opacity 1s ease;
  }

  &_focus,
  &_has-value
  {
    color: $color-dark;

    .form-input__label {
      transform: translateY(-1.2em) scale(0.6);
    }

    .form-input__input {
      &::placeholder {
        opacity: 1;
        transition-delay: 0.2s;
      }
    }
  }
}
</style>
