<template>
  <div class="order-form" :class="classes">
    <transition name="order-form__message">
      <div
        class="order-form__message order-form-message"
        v-if="submitStatus === 'OK'"
      >
        <div class="order-form-message__title">Спасибо!</div>
        <div class="order-form-message__text">
          <p>Ваше сообщение отправлено.</p>
          <p>Мы ответим вам в ближайшее время.</p>
        </div>
      </div>
    </transition>

    <transition name="order-form__message">
      <div
        class="order-form__message order-form-message"
        v-if="submitStatus === 'ERROR'"
      >
        <div class="order-form-message__text">
          При отправке что то пошло не так
        </div>

        <Btn
          class="order-form-message__btn"
          @click="submitStatus = null"
        >Попробовать еще раз</Btn>
      </div>
    </transition>

    <form
      class="order-form__form form"
      :class="{ 'order-form__form_hidden': submitStatus === 'OK' || submitStatus === 'ERROR' }"
      @submit.prevent="onSubmitHandler"
    >
      <h4 v-if="formFull" class="h4 form__title">Какой проект требуется сделать?</h4>

      <div v-if="formFull" class="form__projects">
        <FormRadio
          class="form__project-btn"
          v-for="(name, i) in projects"
          :value="name"
          :key="i"
          name="project"
          :checked="name === project"
          @change="onProjectBtnCahnge"
        >{{ name }}</FormRadio>
      </div>

      <h5 class="h5 form__title-sm">Хотите работать с нами?</h5>

      <div class="form__fields">
        <div class="form__field">
          <FormInput
            type="text"
            label="Ваше имя*"
            maxlength="20"
            name="name"
            v-model.trim="$v.name.$model"
            :validation="$v.name"
            :errorMessage="errorMessages.name"
            :class="{ 'form-input_has-errors form-input_show-errors': $v.name.$error }"
            :required="true"
          />
        </div>
        <div class="form__field">
          <FormInput
            type="text"
            label="Компания"
            maxlength="50"
            name="company"
            ref="company"
            v-model="company"
          />
        </div>
        <div class="form__field">
          <FormInput
            type="email"
            label="E-mail*"
            placeholder="example@mail.ru"
            name="email"
            v-model.trim="$v.email.$model"
            :hasError="$v.email.$error"
            :errorMessage="errorMessages.email"
            :class="{ 'form-input_has-errors form-input_show-errors': $v.email.$error }"
            :validation="$v.email"
            :required="true"
          />
        </div>
        <div class="form__field">
          <FormInput
            type="tel"
            label="Телефон"
            placeholder="+7 (999) 999-9999"
            name="phone"
            v-model.trim="$v.phone.$model"
            :errorMessage="errorMessages.phone"
            :validation="$v.phone"
            :required="true"
            v-mask="'+7 (###) ###-####'"
          />
        </div>
        <div class="form__field form__field_full">
          <FormInput
            type="textarea"
            label="Несколько слов о проекте"
            maxlength="1000"
            name="message"
            v-model="message"
            @focus="onMessageFocusHandler"
          />
        </div>
      </div>

      <div
        class="form__btn"
        @mouseover="isSubmitHover = true"
        @mouseout="isSubmitHover = false"
      >
        <Btn
          :class="{ 'base-btn_leave': submitStatus === 'PENDING' || submitStatus === 'OK' }"
          :disabled="$v.$invalid"
        >отправить</Btn>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import axios from 'axios';
import { VueMaskDirective } from 'v-mask';
import sanitizeHtml from 'sanitize-html';
import { validationMixin } from 'vuelidate';
import {
  required,
  minLength,
  maxLength,
  email,
} from 'vuelidate/lib/validators';
import FormInput from './FormInput';
import Btn from '../Btn';
import FormRadio from './FormRadio'


export default {
  name: 'OrderForm',
  props: {
    formFull: {
      type: Boolean
    }
  },
  directives: {
    mask: VueMaskDirective
  },
  mixins: [validationMixin],
  components: {
    FormRadio,
    FormInput,
    Btn,
  },

  data() {
    return {
      projects: [
        'Сайт',  'Приложение',  'Интерфейс',  'Логотип',  'Брендинг', 'Исследование',  'Упаковка', 'Нейминг',
        'Платформа бренда',  'Фото и видео съемка',  'Интерьер',  'Ретушь',  '3D-графика',  'Иллюстрация',
        'Презентация',  'Навигация'
      ],
      project: 'Сайт',
      name: '',
      email: '',
      company: '',
      phone: '',
      message: '',
      submitStatus: null,
      PHONE_LENGTH: 14,
      isSubmitHover: false
    };
  },
  validations: {
    name: {
      required,
      format(value) {
        return /^[A-Za-zА-Яа-я0-9 -]*?$/.test(value); // only letters(latin, cyr), numbers, spaces, minus sign
      },
      minLength: minLength(2),
      maxLength: maxLength(20),
    },
    email: {
      required,
      email,
    },
    phone: {
      phone(value) {
        return /^(?=.*[0-9])[- +()0-9]+$/.test(value) && value.length >= this.PHONE_LENGTH; // only numbers, spaces, minus, plus signes, round brackets
      },
    },
  },
  computed: {
    classes() {
      return {
        'show-all-errors': this.isSubmitHover
      }
    },
    errorMessages() {
      const self = this;
      return  {
        get name() {
          const { required, minLength, maxLength, format, $error } = self.$v.name;
          if (!required)  return 'Вы не указали имя. Как нам обращаться к вам?';
          if (!minLength) return 'Тут меньше 2х символов';
          if (!maxLength) return 'Мы не запомним такое длинное имя';
          if (!format)    return 'Допускаются только буквы, цифры, пробел и тире';
          if ($error)     return 'Имя содержит ошибки'
          return '';
        },
        get email() {
          const { required, email, $error } = self.$v.email;
          if (!required) return 'Мы не сможем вам ответить, нужна ваша почта';
          if (!email)    return 'Почта должна быть в формате: name@host.com';
          if ($error)    return 'Почта содержит ошибки'
          return '';
        },
        get phone() {
          const { phone, $error } = self.$v.phone;
          if ($error) return 'Номер содержит ошибки'
          return '';
        },
      }
    }
  },
  watch: {
    name(val) {
      localStorage.name = val;
    },
    email(val) {
      localStorage.email = val;
    },
    phone(val) {
      localStorage.phone = val;
    },
    company(val) {
      localStorage.company = val;
    },
    message(val) {
      localStorage.message = val;
    },
    project(val) {
      localStorage.project = val;
    }
  },
  mounted() {
    if (localStorage.name)    this.name    = localStorage.name
    if (localStorage.email)   this.email   = localStorage.email
    if (localStorage.company) this.company = localStorage.company
    if (localStorage.phone)   this.phone   = localStorage.phone;
    if (localStorage.message) this.message = localStorage.message;
    if (localStorage.project) this.project = localStorage.project;
  },
  methods: {
    onProjectBtnCahnge(e) {
      this.project = e.target.value;
    },
    sanitizeFields() {
      this.message = sanitizeHtml(this.message);
      this.company = sanitizeHtml(this.company);
    },
    onMessageFocusHandler(e) {
      if (e.target.value.trim() === '') this.messageFieldFocusedEmpty = true;
    },
    onSubmitHandler(e) {
      this.$v.$touch();

      // if (this.$v.$invalid) return false;

      this.submitStatus = 'PENDING';

      // sanitize message and company fields
      this.sanitizeFields();

      this.responce = axios
        .post('https://reqres.in/api/users', {
          name: this.name,
          project: this.project,
          email: this.email,
          company: this.company,
          phone: this.phone,
          message: this.message,
        })
        .then(responce => {
          // cleat unrequired fields reactive values after submit
          this.message = '';

          // set status
          this.submitStatus = 'OK';
          console.log(responce);
        })
        .catch(error => {
          this.submitStatus = 'ERROR';
          console.error(error);
        });
      }
    },
};
</script>

<style lang="scss">
.order-form {
  position: relative;

  &__form {
    transition: opacity 0.5s, visibility 0.5s;

    &_hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__message {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scale(1);
    z-index: 1;

    transition: opacity 0.75s, transform 0.75s;
    transform-origin: left center;

    &-enter,
    &-leave-to {
      opacity: 0;
      transform: translate(0, -50%) scale(0);
    }
  }
}

.form {
  &__projects {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: em(30);
  }

  &__project-btn {
    margin-right: rem(15);
    margin-bottom: rem(10);

    @include sm-min {
      margin-right: rem(10);
    }

    @include xxl-min {
      margin-right: rem(10, 16);
    }
  }

  &__title {
    color: $color-auxiliary;
    margin-top: 0;
    margin-bottom: em(20);

    @include sm-min {
      margin-bottom: em(10);
    }
  }

  &__title-sm {
    text-transform: none;
    color: $color-dark;

    margin-top: 0;
    margin-bottom: 0;
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;

    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
    margin-bottom: 1.5em;

    @include xl-min {
      margin-bottom: 2em;
    }
  }

  &__field {
    width: 100%;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    position: relative;

    @include md-min {
      width: 50%;
    }

    &_full {
      width: 100%;
    }
  }
}

.order-form-message {
  &__title {
    color: $color-dark;
    font-weight: 700;
    font-size: em(12);
    line-height: 1.25;

    margin-bottom: em(10);
  }

  &__text {
    font-size: em(18);

    p {
      font-size: inherit;
      margin: 0;
    }
  }
}
</style>
